USE [master]
GO
/****** Object:  Database [Authentication]    Script Date: 11/29/2021 10:02:10 AM ******/
CREATE DATABASE [Authentication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Authentication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Authentication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Authentication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Authentication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Authentication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Authentication]
GO
USE [Authentication]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 11/29/2021 10:02:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_User] ON 

INSERT [dbo].[tbl_User] ([UserId], [UserName], [Email], [Password]) VALUES (1, N'admin2', N'shakirulmamun125@gmail.com', N'123')
INSERT [dbo].[tbl_User] ([UserId], [UserName], [Email], [Password]) VALUES (2, N'mamun', N'shakirulmamun125@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[tbl_User] OFF
GO
USE [master]
GO
